@import url('https://fonts.cdnfonts.com/css/inter');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    overflow-x: hidden;
}

nav {
    top: 0px;
    position: absolute;
    color: white;
    float: right;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 15%;
}

.head {
    background-color: #292929;
    color: white;
    padding: 1%;
    width: auto;
    height: 90vh;

}

.head h1 {
    margin: 2%;
    font-size: 8vw;
    font-weight: bold;
}

.head p {
    width: 60%;
    line-height: 1.5;

}

video#miVideo {
    position: absolute;
    left: 0px;
    margin-left: 0px;
    margin-top: 11.4vh;
}

.head .image {
    position: absolute;
    top: 0px;
    background-image: url(/source/img/1.png);
    background-repeat: no-repeat;
    right: 0px;
    width: 543px;
    height: 94vh;
}




.content {
    margin-top: -23px;
    width: 100%;
    height: 200vh;
    background-color: white;
}

.content h1 {
    padding: 5%;
    text-align: right;
}

.content p.northfaceSupreme {
    text-align: right;
    position: relative;
    float: right;
    padding-right: 5%;
    width: 40%;
    line-height: 1.5;
}

.content h1 span {
    padding: 5px;
    text-align: center;
    color: white;
    background-color: black;
}

.content .northfaceXsupreme img {
    margin-left: 5%;
}





.history {
    background-color: black;
    color: white;
    height: 100vh;
}

.history h1 {
    font-size: 5vw;
    text-align: left;
}

.history p {
    margin-left: 5%;
    margin-top: -150px;
    width: 50%;
    font-style: normal;
    line-height: 2;
    text-align: left;
}

.history .image3 {
    position: relative;
    float: right;
    margin: 5%;
}



.TheNorthFace {
    width: 100%;
    height: 110vh;
    position: relative;

    top: 50vh;
    color: black;
    background-color: white;
}

.TheNorthFace h1 {
    width: 100%;
    margin-left: 45%;
}

.TheNorthFace .carrusel {
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.imagen-clickeable {
    margin-left: 45%;
    margin-top: 25%;
    transform: scale(1.4);
    transition: transform 0.3s ease-in-out;
}

.imagen-clickeable:hover,
.imagen-clickeable:focus,
.imagen-clickeable:active {
    transform: scale(1.6);
}