@import url('https://fonts.cdnfonts.com/css/inter');

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;

}
nav{
    top: 0px;
    position: absolute;
    color: white;
    float: right;
    width: 100%;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-right: 15%;
}
.head{
    background-color: #292929;
    color: white;
    padding: 1%;
    width: auto;
    height: 90vh;

}
.head h1{
    margin: 2%;
    font-size: 8vw;
    font-weight: bold;
}
.head p{
    width: 60%;
}
video#miVideo{
    position: absolute;
    left: 0px;
    margin-left: 0px;
    margin-top: 14.5vh;;
}
.head .image{
    position: absolute;
    top: 0px;
    background-image: url(/source/img/1.png);
    background-repeat: no-repeat;
    right: 0px;
    width: 543px;
    height: 94vh;
}